/* background*/
img#bg {
  position: fixed;
  top: -1vh;
  left: -1%;

  width: 102%;
  height: 102vh;

  object-fit: cover;

  z-index: -1;

  animation-name: blr;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}


@keyframes blr {
  50% {
    filter: brightness(0.9) blur(1px);
  }

  100% {
    filter: brightness(0.7) blur(2px);
  }
}

/* navbar */
#navbar {
  position: fixed;

  width: 90%;
  padding: var(--sz2);

  margin: 1% 5%;
  border-radius: var(--sz3);


  display: flex;
  align-items: end;

  gap: var(--sz1);

  z-index: 3;
}

#navbar img#logo {
  height: var(--sz15);
  aspect-ratio: 3;

  object-fit: contain;

  filter: invert(1);
}


#navbar #links {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--sz5);

  padding: var(--sz3);
}

#navbar #links * {
  font-size: var(--sz5);
  font-weight: 600;
  color: var(--white);
}

@media only screen and (max-width: 850px) {
  #navbar #links {
    display: none;
  }

  #navbar button {
    display: none;
  }
}


/* content */

#content {
  width: 100%;
  height: 100vh;
}


.section {
  min-height: 100vh;
  padding: 10vw;

  justify-content: center;
}



.section#home .section_content {

  justify-content: center;
  align-items: center;

  text-align: center;

  gap: var(--sz3);
}

.section#home .section_content * {
  color: var(--white);
}

.section#home .section_content h1 {
  font-size: var(--sz15);
}

.section#home .section_content h2 {
  font-size: var(--sz9);

}